:target {
    display: block;
    position: relative;
    top: -120px; 
    visibility: hidden;}

button {
    transition: all 0.2s ease-in-out;
}
.mantine-Notification-root{
    align-items: flex-start;
    overflow-y: auto;
}

.richText ul {
    list-style-type: disc !important;
    padding-left: 1.5rem; /* Ensure there’s some padding */
  }
  
  .richText ol {
    list-style-type: decimal !important;
    padding-left: 1.5rem;
  }
/*button:hover {
    box-shadow: 0 0 30px 0 rgb(55, 82, 163, 20);
}*/
.dark .mantine-Input-input{
    background-color: #14161d;/* #101117;*/
}

